<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h2>
        <%= todayDate %>
    </h2>
    <br>
    <div class="box">
        <%for(let i=0;i<listItem.length;i++){ %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input onChange="this.form.submit()" type="checkbox" class="checkbox" name="id" value=<%=listItem[i]._id %>>
                    <p>
                        <%=listItem[i].name %>
                    </p>
                </div>
            </form>
            <hr>
            <%} %>


            <form action="/" method="POST">
                 <input class="new" type="text" name="input" autocomplete=off placeholder="New Item">

                <button class="submit" type="submit">+</button>
                    <hr class="bottom">
            </form>
    </div>
    <form action="/clear" method="POST">
        <button class="clear" type="submit">Clear</button>
    </form>
</body>

</html>